<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class ="brand-link">
  
      <span class="brand-text font-weight-light">Sistema de Planillas</span>
    </a>
    
    
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
  
        <div class="info">
          <a href="#" class ="d-block">{{ correo }} </a>
          <a href="#" class ="d-block">{{ rol }} </a>
          <a href="#" class ="d-block">{{systemTime}}</a>
        </div>
      </div>
      <!-- SidebarSearch Form -->
  
  
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
                <a routerLink="/permisos" routerLinkActive="active" (click)="cerrar()" ariaCurrentWhenActive="page" class ="brand-link">
                  <i class="fas fa-sign-out-alt"></i>
                    Cerrar Sesion            
                </a>
          </li>
          <li class="nav-header"*ngIf="isAdmin">Administracion de Usuarios</li>
          <li class="nav-item">
            <a routerLink="/permisos" routerLinkActive="active" ariaCurrentWhenActive="page" class ="brand-link" *ngIf="isAdmin">
            <i class="nav-icon fas fa-user-lock"></i>
                Permisos            
            </a>
          </li>
  
  
          <li class="nav-item">
            <a routerLink="/roles" routerLinkActive="active" ariaCurrentWhenActive="page" class ="brand-link" *ngIf="isAdmin">
            <i class="nav-icon fas fa-users-cog"></i>
              
                Rol
              
            </a>
            
          </li>
          <li class="nav-item">
            <a routerLink="/usuarios" routerLinkActive="active" ariaCurrentWhenActive="page" class ="brand-link" *ngIf="isAdmin">
            <i class="nav-icon fas fa-users"></i>
              
                Usuarios
              
            </a>
            
          </li>
          <li class="nav-header"*ngIf="isAdmin">Administracion de Empresas</li>
          
          <li class="nav-item">
            <a routerLink="/empresas" routerLinkActive="active" ariaCurrentWhenActive="page" class ="brand-link" *ngIf="isAdmin">
            <i class="nav-icon fas fa-building"></i>
              
                Empresas
              
            </a> 
          </li>
          <li class="nav-item">
            <a routerLink="/areas" routerLinkActive="active" ariaCurrentWhenActive="page" class ="brand-link" *ngIf="isAdmin">
            <i class="nav-icon fas fa-sitemap"></i>
                Areas
            </a>  
          </li>
          <li class="nav-item">
            <a routerLink="/centros" routerLinkActive="active" ariaCurrentWhenActive="page" class ="brand-link" >
            <i class="nav-icon fas fa-money-check-alt"></i> 
              
                Centros Costos
              
            </a>
            
          </li>
          <li class="nav-item">
            <a routerLink="/unidades" routerLinkActive="active" ariaCurrentWhenActive="page" class ="brand-link" *ngIf="isAdmin">
            <i class="nav-icon fas fa-sitemap"></i>
              
                Unidades
              
            </a>
            
          </li>
          <li class="nav-item">
            <a routerLink="/subunidades" routerLinkActive="active" ariaCurrentWhenActive="page" class ="brand-link" *ngIf="isAdmin">
            <i class="nav-icon fas fa-layer-group"></i>
              
                Sub Unidades
              
            </a>
            
          </li>
          <li class="nav-item">
            <a routerLink="/planillas" routerLinkActive="active" ariaCurrentWhenActive="page" class ="brand-link" *ngIf="isAdmin">
            <i class="nav-icon fas fa-file-invoice-dollar"></i>
              
                Planillas
              
            </a>
            
          </li>
          <li class="nav-item">
            <a routerLink="/puestos" routerLinkActive="active" ariaCurrentWhenActive="page" class ="brand-link" *ngIf="isAdmin">
            <i class="nav-icon fas fa-briefcase"></i> 
              
                Puestos
              
            </a>
            
          </li>
          <li class="nav-header"*ngIf="isAdmin">Administracion de Empleados</li>
          <li class="nav-item">
            <a routerLink="/empleados" routerLinkActive="active" ariaCurrentWhenActive="page" class ="brand-link" *ngIf="isAdmin">
            <i class="nav-icon fas fa-user-tie"></i> 
              
                Empleados
              
            </a>
            
          </li>
          <li class="nav-item">
            <a routerLink="/profesiones" routerLinkActive="active" ariaCurrentWhenActive="page" class ="brand-link" *ngIf="isAdmin">
            <i class="nav-icon fas fa-user-graduate"></i>
              
                Profesiones
              
            </a>
            
          </li>
  
          <li class="nav-item">
            <a routerLink="/oficios" routerLinkActive="active" ariaCurrentWhenActive="page" class ="brand-link" *ngIf="isAdmin">
            <i class="nav-icon fas fa-tools"></i>
                Oficios
            </a>
          </li>
          <li class="nav-header"*ngIf="isAdmin">Administracion General</li>
  
          <li class="nav-item">
            <a routerLink="/sexos" routerLinkActive="active" ariaCurrentWhenActive="page" class ="brand-link" *ngIf="isAdmin">
            <i class="nav-icon fas fa-venus-mars"></i>
              
                Sexos
              
            </a>
            
          </li>
          <li class="nav-item">
            <a routerLink="/paises" routerLinkActive="active" ariaCurrentWhenActive="page" class ="brand-link" *ngIf="isAdmin">
            <i class="nav-icon fas fa-globe"></i>
              
                Paises
              
            </a>
            
          </li>
          <li class="nav-item">
            <a routerLink="/departamentos" routerLinkActive="active" ariaCurrentWhenActive="page" class ="brand-link" *ngIf="isAdmin">
            <i class="nav-icon fas fa-map-marked-alt"></i>
              
                Departamentos
              
            </a>
            
          </li>
          <li class="nav-item">
            <a routerLink="/municipios" routerLinkActive="active" ariaCurrentWhenActive="page" class ="brand-link" *ngIf="isAdmin">
            <i class="nav-icon fas fa-city"></i>
              
                Municipios
              
            </a>
            
          </li>
          <li class="nav-item">
            <a routerLink="/estados" routerLinkActive="active" ariaCurrentWhenActive="page" class ="brand-link" *ngIf="isAdmin">
            <i class="nav-icon fas fa-ring"></i>
                Estados Civiles
            </a>
          </li>
  
  
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  
  </aside>