
<section class="results">
  <app-header></app-header>    
    <app-empleado-create ></app-empleado-create>
  <br>
  <h3>Buscar Empleado</h3>
<div class="row">
<div class="col-offset-4 col-mb-4 col-lg-4">
<div class="form-group">
<input class="form-control" type="text" style="display: inline-block;" placeholder="Filtrar por nombre de Empleado" #filter>
<button class="btn btn-primary" type="button"style="display: inline-block;" (click)="filterResults(filter.value)">Buscar</button>
</div>
</div>
</div>
<table class="table">
    <!-- Encabezados de la tabla -->
    <thead>
      <tr>
        <th>Código Empleado</th>
        <th>Nombre Empleado</th>
        <th>Fecha Nacimiento</th>
        <th>Sexo</th>
        <th>NUP</th>
        <th>ISSS</th>
        <th>Acciones</th>
        <!-- Agregar más encabezados según sea necesario -->
      </tr>
      
    </thead>
    <tbody>
        <tr *ngFor="let empleado of filteredEmpleadoList" >
            <td class="listing-empleado">{{ empleado.codigo }}</td>
            <td class="listing-location">{{ empleado.dui }}</td>
            <td class="listing-location">{{ empleado.primerNombre }} {{ empleado.apellidoPaterno }}</td>
            <td class="listing-location">{{ empleado.fechaNacimiento }}</td>
            <td class="listing-location">{{ empleado.nombreSexo }}</td>
            <td class="listing-location">{{ empleado.nup}}</td>
            <td class="listing-location">{{ empleado.isss }}</td>
            <td class="listing-location">{{ empleado.nombrePuesto }}</td>
            <td>
            <button class="btn btn-warning btn-3" type="submit">Editar</button><form (ngSubmit)="onSubmitDelete(d, empleado)" #d="ngForm">
                <button class="btn btn-danger btn-3" type="submit">Eliminar</button>
            </form>
        </td>
        </tr>
    </tbody>
</table>
</section>